html {
    /* Firefox */
    min-height: 100%;
}
body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(purple, teal);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Firefox */
    height: 100%;
}
#calculator {
    border: 25px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 0 0 40px;
    overflow: hidden;
}
#output {
    border: solid rgba(255, 255, 255, 0.5);
    border-width: 0 0 40px;
}
#queue {
    padding-top: 10px;
    padding-right: 10px;
    height: 25px;
    display: flex;
    justify-content: flex-end;
}
#display {
    height: 75px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
div .button-row {
    display: flex;
}
div .button {
    box-sizing: border-box;
    border: 5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: all 0.13s ease;
}
div .empty {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100px;
}
div .button.clicked {
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0);
    color: #5050B8;
}
